@import url("./root.css");
@import url("./sidebar.css");
@import url("./popup.css");
@import url("./leaflet-controls.css");
@import url("./full-screen-modal.css");


/* Global */
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-outline: none;
  outline: none;
}

.btn:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-outline: none;
  outline: none;
}

.btn.active,
.btn:active {
  box-shadow: none;
}

hr {
  color: white;
}

.reduce-opacity {
  opacity: 0.9;
}

.underline {
  border-bottom: 1px #ffffff solid;
}

.img-white {
  filter: invert(100%);
}

.box-shad {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small-text {
  font-size: 0.8em;
}

.medium-icon {
  font-size: 1.5em;
}

/* Navbar */
.navbar {
  height: 3em;
}
.navbar #nav-container #search-btn i {
  font-size: 1.2em;
}
.navbar #nav-container #nav-dropdown a i {
  font-size: 1.2em;
}

.wrapper {
  overflow: hidden;
}

/* Body */
body {
  height: 100%;
  overflow: hidden;
}

/* Opera Fix */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* negate effect of float*/
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.4s;
}

.overlay.show {
  z-index: 9998;
  opacity: 0.5;
}

.overlay.hide {
  z-index: -1000;
  opacity: 0;
}

/* Map */
#map {
  height: 100vh;
  z-index: 0;
}

/* Footer */
.footer {
  position: relative;
  margin-top: -1.6em;
  /* negative value of footer height */
  height: 1.6em;
  clear: both;
  font-size: 0.8rem;
  color: #e0e0e0;
}
.footer span {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.footer a {
  color: #b0b0ff;
}

/* Modals */
.show-alert {
  display: block;
}

.hide-alert {
  display: none;
}

#reporter-advice {
  font-size: 0.9em;
}
