.leaflet-verticalcenter {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 30%;
  /* possible because the placeholder's parent is the map */
  transform: translateY(-50%);
  /* using the CSS3 Transform technique */
  padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-popup-content-wrapper {
  overflow-y: auto;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}