:root {
  --primary-color: #3f7ffe;
  --secondary-color: #ff0000;
  --dark-color: rgb(63, 63, 63);
}


a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.text-pri {
  color: var(--primary-color) !important;
}

.bg-pri {
  background-image: none !important;
  background: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.text-sec {
  color: var(--secondary-color) !important;
}

.bg-sec {
  background-image: none !important;
  background: var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.bg-dark {
  background-image: none !important;
  background: var(--dark-color) !important;
  background-color: var(--dark-color) !important;
}
