:root {
  --primary-color: #3f7ffe;
  --secondary-color: #ff0000;
  --dark-color: rgb(63, 63, 63);
}


a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn:focus {
  border-color: inherit;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.text-pri {
  color: var(--primary-color) !important;
}

.bg-pri {
  background-image: none !important;
  background: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.text-sec {
  color: var(--secondary-color) !important;
}

.bg-sec {
  background-image: none !important;
  background: var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.bg-dark {
  background-image: none !important;
  background: var(--dark-color) !important;
  background-color: var(--dark-color) !important;
}

/*Bootstrap model*/
@media (min-width: 576px) {
  .full-screen-model .modal-dialog {
    max-width: none;
  }
}
.full-screen-model .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.full-screen-model .modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.full-screen-model .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}
.full-screen-model .modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  border: 0;
}
.full-screen-model .modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  overflow: auto;
}
.full-screen-model .modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
}
